  /*varaibles*/

  $coloresPrincipales:(
    primero:#071952,
    segundo:#0B666A,
    tercero:#35A29F,
    cuarto:#97FEED
  );
  $colorLetraTitulo:white;
  $colorLetraCarrusel:black;
  $colorTituloNoticia:rgb(190, 243, 230);
  $colorSubTituloNoticia:rgb(116, 240, 209);
  $colorContenidoNoticia:rgb(33, 243, 191);