/*Estilos de formularios */
.formularioContacto{
    background-color: white;
    font-style: normal;
    font-family: "CaviarDreams";
    justify-content: center;
    display: grid;
    grid-area: formulario;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnEnviar{
    text-align: center;
}