/*Estilos de la pagina de servicios*/

    #cuerpoServicios{
        background-color: white;
        margin: 10px;
        text-align: justify;
    }

    .servicioImagenIzquierda{
        padding: 20px;
        display: grid;
        grid-template-areas: "aside texto";
    }

    .servicioImagenDerecha{
        padding: 20px;
        display: grid;
        grid-template-areas: "texto aside";
    }

    .contenidoServicio{
        padding: 20px;
        grid-area: texto;
        font-family: 'Cairo';
    }

    .imagenServicio{
        grid-area: aside;
    }

    #contenidoNoticias{
        display: flex;
        flex-direction: column;
    }